body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #1e3c72, #2a5298);
  color: white;
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: gradientShift 10s infinite alternate;
  margin: 0;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
}

@keyframes gradientShift {
  0% {
    background: linear-gradient(135deg, #1e3c72, #2a5298);
  }
  100% {
    background: linear-gradient(135deg, #2a5298, #1e3c72);
  }
}

#backgroundPattern {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://www.transparenttextures.com/patterns/diagmonds.png');
  opacity: 0.05;
}

.container {
  position: relative;
  background: rgba(255, 255, 255, 0.2);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  animation: fadeIn 2s;
  transition: transform 0.3s;
  z-index: 1;
}

.container:hover {
  transform: scale(1.05);
}

h1 {
  margin-bottom: 20px;
  font-size: 2.5em;
}

button {
  padding: 15px 30px;
  font-size: 18px;
  cursor: pointer;
  background-color: #FFEB3B;
  border: none;
  border-radius: 10px;
  color: #34495E;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 6px #888;
  margin: 5px;
}

button:hover {
  background-color: #F39C12;
  transform: scale(1.1);
  box-shadow: 0 4px #666;
}

button:active {
  transform: scale(0.95);
  box-shadow: 0 2px #444;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#fact {
  font-size: 1.5em;
  margin-bottom: 20px;
  animation: fadeIn 1s;
  color: #FFEB3B;
}

a {
  text-decoration: none;
}
